  <style>
    .govuk-phase-banner {
      background-color: #f3f2f1;
      font-size: 15px;
      padding: 10px;
      border-bottom: 1px solid #b1b4b6;
    }

    .govuk-phase-banner__content {
      margin: 0;
      align-items: center;
      gap: 10px;
    }

    .govuk-tag {
      background: #1d70b8;
      color: #fff;
      padding: 0.25em 0.5em;
      font-size: 0.875em;
      line-height: 1.5;
      border-radius: 0;
      margin-right: 1em;
    }

    .govuk-phase-banner__text a.govuk-link {
      color: #1d70b8;
      text-decoration: underline;
    }

    .govuk-text-align-centre {
      text-align: center !important;
    }
  </style>
      <!-- Alpha phase banner (GOV.UK style) -->
  <div class="govuk-phase-banner govuk-text-align-centre mb-3">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        Alpha
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service. Help us improve it and
        <a class="govuk-link" href="https://forms.office.com/Pages/ResponsePage.aspx?id=abWm6fDS0kyJYci8S6Gi0jOVrLGFOEhChCxDfrL0EqBUQkhOUzNPUzJZUlpMSEZXQkIxUDdXM01WQi4u" target="_blank">give your feedback</a>.
      </span>
    </p>
  </div>