<style>
    .main-footer {
        background-color: #003c71;
        color: #fff;
        width: 100%;
        padding: 2rem 5rem !important;
    }
    .main-footer a {
        color: #fff;
        text-decoration: none;
        font-size: 14px;
    }
    .main-footer ul {
        margin-bottom: 0 !important;
    }
    .gov-footer {
        background-color: #F1F0EE;
        padding: 2rem 5rem !important
    }
    .gov-logo {
        width: 180px;
    }
</style>
<footer class="text-dark pt-4">
  <!-- Government Banner -->
  <div class="container-fluid gov-footer">
    <div class="row align-items-center mb-0">
      <div class="col-md-2 text-center text-md-start mb-3 mb-md-0 gov-logo">
        <a href="https://www.gov.uk/government/organisations/ministry-of-housing-communities-local-government">
          <img
            src="/assets/ministryofhousing-logo.svg"
            alt="Ministry of Housing, Communities and Local Government"
            width="160"
            height="82"
          />
        </a>
      </div>
      <div class="col-md-10">
        <p class="mb-0 mt-2" style="font-size: 1.1rem;">
          LEASE is governed by a board, appointed as individuals by the Secretary of State for the Ministry of Housing, Communities &amp; Local Government.
        </p>
      </div>
    </div>
  </div>

  <!-- Footer Navigation and Social -->
  <div class="pb-4 main-footer">
    <div class="row d-flex flex-wrap justify-content-between">
      <!-- Link Columns Wrapper -->
      <div class="col-12 col-lg-9">
        <div class="row">
          <!-- Column 1 -->
          <div class="col-12 col-sm-6 col-lg-4 mb-0">
            <ul class="list-unstyled">
              <li><a href="https://www.lease-advice.org/">Home</a></li>
              <li><a href="https://www.lease-advice.org/about-us/">About us</a></li>
              <li><a href="https://www.lease-advice.org/accessibility-statement/">Accessibility Statement</a></li>
              <li><a href="https://www.lease-advice.org/about-us/recruitment/">Careers</a></li>
              <li><a href="https://www.lease-advice.org/about-us/contact-us/">Contact Us</a></li>
              <li><a href="https://www.lease-advice.org/events/">Events</a></li>
            </ul>
          </div>

          <!-- Column 2 -->
          <div class="col-12 col-sm-6 col-lg-4 mb-0">
            <ul class="list-unstyled">
              <li><a href="https://www.lease-advice.org/forms/">Forms</a></li>
              <li><a href="https://www.lease-advice.org/lease-glossary/">Glossary</a></li>
              <li><a href="https://www.lease-advice.org/about-us/media/">Media</a></li>
              <li><a href="https://www.lease-advice.org/news-items/">News</a></li>
              <li><a href="https://www.lease-advice.org/newsletter-archive/">Newsletter archive</a></li>
              <li><a href="https://www.lease-advice.org/privacy-policy-and-cookies/">Privacy & Cookies</a></li>
            </ul>
          </div>

          <!-- Column 3 -->
          <div class="col-12 col-sm-6 col-lg-4 mb-0">
            <ul class="list-unstyled">
              <li><a href="https://www.lease-advice.org/about-us/procurement/">Procurement</a></li>
              <li><a href="https://www.lease-advice.org/referrals/">Referrals</a></li>
              <li><a href="https://www.lease-advice.org/template-documents/">Template Documents</a></li>
              <li><a href="https://www.lease-advice.org/terms-and-conditions/">Terms & Conditions</a></li>
              <li><a href="https://www.lease-advice.org/topics/">Topics</a></li>
              <li><a href="https://www.lease-advice.org/unreasonable-use-or-behaviour-policy/">Behaviour Policy</a></li>
            </ul>
          </div>
        </div>
      </div>

      <!-- Social Column -->
      <div class="col-12 col-lg-3 mb-4 mt-3 text-lg-end text-center">
        <label class="d-block mb-3" style="font-size: 1.25rem; font-weight: 500;">Social</label>
        <div class="d-flex justify-content-center justify-content-lg-end gap-3">
          <a href="https://www.instagram.com/leaseonline/" target="_blank">
            <img src="https://www.lease-advice.org/wp-content/themes/las/assets/images/instagram-icon.png" alt="Instagram" style="width: 30px;">
          </a>
          <a href="https://www.facebook.com/Leasehold/" target="_blank">
            <img src="https://www.lease-advice.org/wp-content/themes/las/assets/images/facebook-icon.png" alt="Facebook" style="width: 30px;">
          </a>
        </div>
      </div>
    </div>

    <!-- Copyright -->
    <div class="row">
      <div class="col-12 text-center">
        <p class="small mt-4 mb-0">
          © Copyright 2025 Leasehold Advisory Service, Registered in England No: 3296985.
        </p>
      </div>
    </div>
  </div>
</footer>
