<style>
  .home-hidden {
    display: none;
  }
</style>
<div class="card">
  <div class="card-body">
    <div class="container-narrow centered">
    <h1 class="card-title text-center mb-4">Check your lease length</h1>
        <% if (typeof error !== 'undefined') { %>
          <div class="alert alert-danger" role="alert" aria-live="assertive">
            <%= error %>
          </div>
        <% } %>

        <form action="/verify-email" method="POST" aria-label="Email verification form">
          <div class="mb-3">
            <label for="email" class="form-label">Enter your email to access the tool</label>
            <input type="email"
                  class="form-control"
                  id="email"
                  name="email"
                  required
                  aria-describedby="emailHelp whyEmail">
            <div id="emailHelp" class="form-text">
              <p>We'll send a verification code to your email address.</p>

              <p>To use the tool, you will need to provide an email address. We will store your email address and IP address so we know who has accessed the information. This is required by HMLR for us to provide this service.</p>
    <p>Any personal information provided will be stored securely in line with our <a href="https://www.lease-advice.org/privacy-policy-and-cookies/" target="_blank" rel="noopener noreferrer">
        privacy policy<span class="visually-hidden">(opens in a new tab)</span>
        <i class="bi bi-box-arrow-up-right" aria-hidden="true"></i>
      </a>.</p>
            </div>
          </div>

          <button type="submit" class="btn btn-primary" style="margin-left:auto; margin-right:auto; display:block; padding: 10px 20px;">
            <span class="visually-hidden">Send Verification Code</span>
            Send Verification Code
          </button>
        </form>
      </div>
    </div>
</div>
