<div class="card">
  <div class="card-body">
    <h1 class="card-title text-center mb-4">Check your lease length</h1>
    <p>If you own a leasehold property, your ownership lasts for the period of time set out in the lease. As the number of years of the lease gets lower, the value of the lease decreases and it becomes more expensive to extend the lease.</p>
    <p>This is why it is often a good idea to extend the lease especially if you want to sell or mortgage the property. Sometimes it is difficult to sell a property with a short lease because many mortgage lenders won’t lend on properties with short leases.</p>
    <h2 class="mt-2">What does check your lease length do?</h2>
    <p>This tool allows you to check the length of a lease on a property in England and Wales.</p>
    <p>As well as providing the remaining term of the lease, the tool also provides information about whether you should consider extending your lease and how to do so.</p>
    <h2 class="mt-2">What data is used?</h2>
    <p>To provide this information, the tool uses information held by HM Land Registry(HMLR).</p>
    <p>Check your lease length uses the most up to date data from HMLR.</p>
    <p>To use the tool, you will need to provide an email address. We will store your email address and IP address so we know who has accessed the information. This is required by HMLR for us to provide this service.</p>
    <p>Any personal information provided will be stored securely in line with our <a href="https://www.lease-advice.org/privacy-policy-and-cookies/" target="_blank" rel="noopener noreferrer">
        privacy policy<span class="visually-hidden">(opens in a new tab)</span>
        <i class="bi bi-box-arrow-up-right" aria-hidden="true"></i>
      </a>.</p>
    <% if (typeof error !== 'undefined') { %>
      <div class="alert alert-danger" role="alert" aria-live="assertive">
        <%= error %>
      </div>
    <% } %>

    <form action="/verify-email" method="POST" aria-label="Email verification form">
      <div class="mb-3">
        <label for="email" class="form-label">Enter your email to continue</label>
        <input type="email"
               class="form-control"
               id="email"
               name="email"
               required
               aria-describedby="emailHelp whyEmail">
        <div id="emailHelp" class="form-text">
          We'll send a verification code to your email address.
          <br>
        </div>
      </div>

      <button type="submit" class="btn btn-primary w-100">
        <span class="visually-hidden">Send Verification Code</span>
        Send Verification Code
      </button>
    </form>
  </div>
</div>
