<div class="card mt-4">
  <div class="card-body">
    <h1 class="card-title mb-3">What to do if you can't find your lease</h1>
    <p>
      We’re sorry that we were unable to find information from HM Land Registry (HMLR) on your lease. This can occur for a number of reasons. HMLR only registers leases for a term of more than seven years (with a few exceptions), so please check that this applies to your lease. If you have recently applied to register your lease, HMLR may not have updated its records yet. You can check HMLR’s latest processing times on its GOV.UK page <a href="https://www.gov.uk/guidance/hm-land-registry-processing-times" target="_blank" rel="noopener noreferrer">here</a>. If you have checked these points and believe your lease information should be available, see below the steps you can take to resolve this issue.
    </p>

    <h5 class="mt-4">1. Check the tool's data freshness</h5>
    <p>On the <a href="/app">search page</a>, you'll see the date of the last successful monthly data import from HM Land Registry. This tells you when our dataset was last updated overall.</p>
    <p>If you have recently applied to register your leasehold property, please check HMLR's processing times page linked above. The relevant section for registering a new lease is ‘complex changes and new entries’.</p>

    <h5 class="mt-4">2. Check your lease agreement</h5>
    <p>The lease you received when purchasing the property contains all key details, including the lease length start date.</p>

    <h5 class="mt-4">3. Consult your solicitor</h5>
    <p>If you used a solicitor when purchasing your home, they may still hold a record of your lease. They can provide detailed information about the lease terms and any legal implications related to the lease length.</p>

    <h5 class="mt-4">4. Contact your freeholder or Managing Agent</h5>
    <p>Your freeholder or property management company should have up-to-date records regarding your lease. They can confirm the remaining lease term and other key information.</p>

    <h5 class="mt-4">5. Request Information from the Land Registry</h5>
    <p>If you are unable to find information about your lease through this tool, you could contact HMLR directly through: 
      <a href="https://customerhelp.landregistry.gov.uk/guide-page-external/?stepid=2b31bc48-eb96-eb11-b1ac-002248413956" target="_blank" rel="noopener noreferrer">
        HM Land Reisitry contact us<span class="visually-hidden">(opens in a new tab)</span>
        <i class="bi bi-box-arrow-up-right" aria-hidden="true"></i>
      </a> or by calling its Customer Support Centre: English language 0300 006 0411 Welsh language 0300 006 0422. 
    .</p>
    <p>HMLR property summaries and title registers are available to download on its ‘Search for land and property information’ page on GOV.UK. Customers can also apply to receive a copy of a document held by HMLR, such as a lease, using its form OC2. Please note, fees are applicable for downloading title registers and ordering copies of documents.</p>
  <div class="d-flex justify-content-between align-items-center mt-3">
    <a href="<%= uid ? `/app/lease/${uid}` : '/app' %>" class="btn btn-secondary">
        Back to <%= uid ? 'Lease' : 'Search' %>
    </a>
  </div>
  </div>


</div>
