:root {
  --bs-primary: #003C71;
  --bs-blue: #003C71;
  --bs-link-color: #003C71;
  --bs-link-hover-color: #003C71;
}
.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #003C71;
  --bs-btn-border-color: #003C71;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #002c52;
  --bs-btn-hover-border-color: #002647;
  --bs-btn-focus-shadow-rgb: 0, 60, 113;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #002647;
  --bs-btn-active-border-color: #002140;
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #003C71;
  --bs-btn-disabled-border-color: #003C71;
}
body {
    background-color: white;
    font-family: Arial,sans-serif !important;
}
.container {
    max-width: 800px;
}
.container-narrow {
    max-width: 800px;
}
.centered {
    margin-left: auto;
    margin-right: auto;
}
.card {
    border: none;
}
.card-body .text-muted a,
footer.text-muted a  {
    color: #003C71 !important;
}
.lease-remaining {
  font-size: 1.3em;
}
.lease-advice-warning {
  font-size: 1.3em;
}

.alert-info {
  background-color: inherit !important;
  border-color: #002140 !important;
}
.alert-info ul li {
  margin-bottom: 0.5rem;
}
