<div class="card card-body bg-light">
  <h1 class="mb-3">Thank you for your report</h1>
  <p>Your bug report has been received. We’ll review it as soon as possible.</p>

  <a href="/app" class="btn btn-primary mt-3" role="button">Back to Search</a>
</div>